body{
    margin: 0px;
    background-color: black;
}
header{
    display: flex;
    background-color: rgba(69, 69, 69, 0.426);
    padding: 10px;
    text-align: center;
}

header img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px;
    
}

header h1{
    color: gold;
    font-weight: bold;
    text-shadow: 2px 2px grey;
    font-size: 50px;
    margin-left: 40%;
    font-family: Audiowide;
    animation-name: title;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 10s;
    animation-direction: alternate;
}

.home img{
    position: absolute;
    animation-name: home;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: altenate;

}

.button1{
    margin-top: 45px;
    margin-left: 43%;
}

.button1 a{
    font-size: 20px;
    font-weight: bold;
    color: palevioletred;
    background-color: rgba(65, 105, 225, 0.626);
    border-radius: 50px;
    padding: 10px;
    border: 2px inset violet;
    text-decoration: none;
    transition: 1s all;
    font-family: Audiowide;
}

.button1 a:hover{
    color: royalblue;
    background-color: palevioletred;
    border: 2px inset purple;
    
}

nav{
    height: 50px;
    width: 95%;
    padding: 30px;
    text-align: center;
    word-spacing: 300px;
}

nav a{
    font-size: 20px;
    font-weight: bold;
    color: goldenrod;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    border-radius: 50px;
    transition: 1s all;
    font-family: Audiowide;
}

nav a:hover{
    color: black;
    text-shadow: goldenrod;
    background-color: gainsboro;
}

.about{
    width: 100%;
    height: 500px;
    color: rgb(96, 96, 96);
    font-family: Audiowide;
    text-align: center;
    text-shadow: 2px 3px goldenrod;
    margin-bottom: 300px;
    margin-top: 45%;
}

.inabout{
    display: flex;
    flex: 50%;
    border: 4px inset goldenrod;
}

.inabout p{
    font-size: 30px;
    color: white;
    padding: 10px;
}

.inabout img{
    height: 700px;
    width: 50%;
    border: 3px inset goldenrod;
    opacity: 70%;
}

.category{
    color: goldenrod;
    font-family: Audiowide;
    text-align: center;
}

.category_grid{
    display: grid;
    grid-auto-flow: column;
    margin-left: 70px;
    padding: 10px;
}

#c1{
    height: 400px;
    width: 500px;
    background-image: url(https://blog.prepscholar.com/hs-fs/hubfs/piano-1655558_1920.jpg?width=513&name=piano-1655558_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    border-radius: 55px;
    text-align: center;
    padding: 20px;
    padding-top: 300px;
    transition: 1s all;
}

#c1:hover{
    transform: scale(1.1);
}

#c2:hover{
    transform: scale(1.1);
}

#c3:hover{
    transform: scale(1.1);
}
#c2{
    height: 400px;
    width: 500px;
    background-image: url(https://wallpaperaccess.com/full/2543576.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    border-radius: 55px;
    text-align: center;
    padding: 20px;
    padding-top: 300px;
    transition: 1s all;
}


#c3{
    height: 400px;
    width: 500px;
    background-image: url(https://w0.peakpx.com/wallpaper/399/779/HD-wallpaper-dg-concert-cool-entertainer-love-new-party-song.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    border-radius: 55px;
    text-align: center;
    padding: 20px;
    padding-top: 300px;
    transition: 1s all;
}

.category_grid a{
    color: ghostwhite;
    font-size: 50px;
    text-decoration: none;
    transition: 1s all;
}



.category_grid a:hover{
    color: goldenrod;
    text-decoration: underline; 
}

.creators_d{
    color: goldenrod;
    font-family: Audiowide;
    text-align: center;
    margin-top: 70px;
}

.creator_grid{
    display: grid;
    grid-auto-flow: column;
    margin-left: 70px;
    padding: 10px;
}

.creator_grid h1{
    margin-top: -70px;
}

#cd1{
    height: 400px;
    width: 500px;
    border-radius: 55px;
    text-align: center;
    padding: 20px;
    padding-top: 300px;
    transition: 1s all;
    background-color: rgba(128, 128, 128, 0.589);
}

#cd1:hover{
    transform: scale(1.1);
    background-color: rgba(240, 248, 255, 0.603);
}

#cd2:hover{
    transform: scale(1.1);
    background-color: rgba(240, 248, 255, 0.603);
}

#cd3:hover{
    transform: scale(1.1);
    background-color: rgba(240, 248, 255, 0.603);
}
#cd2{
    height: 400px;
    width: 500px;
    border-radius: 55px;
    text-align: center;
    padding: 20px;
    padding-top: 300px;
    transition: 1s all;
    background-color: rgba(128, 128, 128, 0.589);
}


#cd3{
    height: 400px;
    width: 500px;
    border-radius: 55px;
    text-align: center;
    padding: 20px;
    padding-top: 300px;
    transition: 1s all;
    background-color: rgba(128, 128, 128, 0.589);
}

.creator_grid h1{
    color: ghostwhite;
    font-size: 50px;
    text-decoration: none;
    transition: 1s all;
}



.creator_grid h1:hover{
    color: goldenrod;
}

@keyframes title{
    0%{
        color: gold;
    text-shadow: 2px 2px grey;
    }
    25%{
        color: white;
    text-shadow: 2px 2px goldenrod;
    }
    50%{
        color: gold;
    text-shadow: 2px 2px grey;
    }
    75%{
        color: white;
    text-shadow: 2px 2px goldenrod;
    }
    100%{
        color: gold;
    text-shadow: 2px 2px grey;
    }
}

@keyframes home{
    from{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 600px) {
    body {background: black;}
  }
  
  /* Small devices */
  @media only screen and (min-width: 600px) {
    body {background: black;}
  }
  
  /* Medium devices*/
  @media only screen and (min-width: 768px) {
    body {background: black;}
  } 
  
  /* Large devices */
  @media only screen and (min-width: 992px) {
    body {background: black;}
  } 
  
  /* Extra large devices  */
  @media only screen and (min-width: 1200px) {
    body {background: black;}
  }